<div class="content">
  <div class="content text-center" style="padding-top: 3%">
    <h1>REGISTRAR NUEVO BOT </h1>
    <P>es obligatorio que llenes todo que tiene un *</P>
  </div>
  <div
    class="content"
    style="color: black; padding-left: 35%; background-color:#002366 "
  >
    <form
      action="/register/newBot"
      method="post"
      style="color: black; padding-top: 3%"
    >
      <label for="fname">ID del bot*:</label><br />
      <input
        placeholder="1234567890"
        type="text"
        id="fname"
        name="id"
        style="color: black"
        size="50"
      /><br />

      <label for="lname">Prefix*:</label><br />
      <input
        type="text"
        id="lname"
        name="prefix"
        placeholder="&"
        style="color: black"
        size="50"
      /><br /><br />

      <label for="lname ">Description pequeña*:</label><br />
      <input
        style="color: black"
        type="text"
        id="lname"
        name="desc1"
        size="100"
        placeholder="Bot multifuncion"
      /><br /><br />

      <label for="lname ">Invitacion*:</label><br />
      <input
        style="color: black"
        type="text"
        id="lname"
        name="invit"
        size="100"
      /><br /><br />

      <label for="lname ">Nombre*:</label><br />
      <input
        style="color: black"
        type="text"
        id="lname"
        name="name"
        size="100"
      /><br /><br />

      <label for="lname ">Link de avatar *:</label><br />
      <input
        style="color: black"
        type="text"
        id="lname"
        name="avar"
        size="100"
      /><br /><br />

      <textarea
        name="desc2"
        rows="10"
        cols="53"
        style="color: black"
        placeholder="Descripcion larga"
      >
        Description larga*
      </textarea><br />

      <label for="lname">Pagina web:</label><br />
      <input
        type="text"
        id="lname"
        name="web"
        placeholder="https://google.com"
        size="50"
        style="color: black"
      /><br /><br />

      <label for="lname">Servidor de soporte:</label><br />
      <input
        type="text"
        id="lname"
        name="support"
        placeholder="https://discord.com/"
        size="50"
        style="color: black"
      /><br /><br />

      <input
        type="submit"
        class="btn btn-primary"
        value="Submit"
        onclick="Bot Registrado"
      />
      <br style="padding-bottom: 3%;" />
      <div style="padding-bottom: 3%;"></div>
    </form>
  </div>
</div>